version: "3.8"

services:
  gitea:
    image: gitea/gitea:latest

    ports:
      - "3000:3000"
      - "222:22"

    volumes:
      - gitea_data:/data

    env_file:
      - .env

    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

volumes:
  gitea_data:

