name: Deploy Gitea to Docker Swarm

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    environment: production

    env:
      SMTP_USER: ${{ secrets.SMTP_USER }}
      SMTP_PASS: ${{ secrets.SMTP_PASS }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy Gitea Swarm service
        run: |
          docker stack deploy -c docker-compose.yml gitea
